<a href="https://colab.research.google.com/github/JMC110/Homework_0/blob/master/ML_Project_Decision_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn import metrics


#dataset
dataset = pd.read_csv(r'E:\exoTrain.csv')
dataset.head()

,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,FLUX.10,...,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197,LABEL
0,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,-160.17,...,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54,2
1,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,-73.38,...,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93,2
2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,484.39,...,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67,2
3,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,323.33,...,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98,2
4,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,-970.88,...,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54,2

In [0]:
dataset.shape
dataset.isnull().sum()
dataset.isna().sum()

FLUX.1       0
FLUX.2       0
FLUX.3       0
FLUX.4       0
FLUX.5       0
FLUX.6       0
FLUX.7       0
FLUX.8       0
FLUX.9       0
FLUX.10      0
FLUX.11      0
FLUX.12      0
FLUX.13      0
FLUX.14      0
FLUX.15      0
FLUX.16      0
FLUX.17      0
FLUX.18      0
FLUX.19      0
FLUX.20      0
FLUX.21      0
FLUX.22      0
FLUX.23      0
FLUX.24      0
FLUX.25      0
FLUX.26      0
FLUX.27      0
FLUX.28      0
FLUX.29      0
FLUX.30      0
            ..
FLUX.3169    0
FLUX.3170    0
FLUX.3171    0
FLUX.3172    0
FLUX.3173    0
FLUX.3174    0
FLUX.3175    0
FLUX.3176    0
FLUX.3177    0
FLUX.3178    0
FLUX.3179    0
FLUX.3180    0
FLUX.3181    0
FLUX.3182    0
FLUX.3183    0
FLUX.3184    0
FLUX.3185    0
FLUX.3186    0
FLUX.3187    0
FLUX.3188    0
FLUX.3189    0
FLUX.3190    0
FLUX.3191    0
FLUX.3192    0
FLUX.3193    0
FLUX.3194    0
FLUX.3195    0
FLUX.3196    0
FLUX.3197    0
LABEL        0
Length: 3198, dtype: int64

In [0]:
X = dataset.iloc[:, 0:3197].values
Y = dataset.iloc[:, 3197].values
#converting class column to 0 and 1
#labelencoder_Y = LabelEncoder()
#Y = labelencoder_Y.fit_transform(Y)

In [0]:
#Splitting datsset 70:30 ratio
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [0]:
Y_predicted = classifier.predict(X_test)
ConfusionMatrix = confusion_matrix(Y_test, Y_predicted)
f1score = metrics.f1_score(Y_test, Y_predicted)
print("Confusion Matrix=",ConfusionMatrix)
print("F Score=",f1score)

Confusion Matrix= [[1670   14]
 [  13    1]]
F Score= 0.991980991980992

In [0]:
from sklearn.metrics import classification_report

print(classification_report(Y_test, Y_predicted))

              precision    recall  f1-score   support

           1       0.99      0.99      0.99      1684
           2       0.07      0.07      0.07        14

   micro avg       0.98      0.98      0.98      1698
   macro avg       0.53      0.53      0.53      1698
weighted avg       0.98      0.98      0.98      1698

In [0]:
Accuracy = accuracy_score(Y_test, Y_predicted)
print("Accuracy with Decision Tree Algorithm =",Accuracy)

Accuracy with Decision Tree Algorithm = 0.9840989399293286

In [0]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test, Y_predicted)

0.5315575161180862